# Desarrollo del Proyecto 2 - Cryptocurrency Market Data Analytics 
## Extract, Transform and Load (ETL) 
Hecho por: Alejandra Salas

Coingecko es una plataforma en línea que proprociona información sobre criptomonedas y activos digitales, siendo una fuente popular para obtener datos actualizados sobre los precios, capitalización del mercado, volumen de las operaciones, ranking, tedencias y demás información relevante.

1. Instalamos pycoingecko para conectarnos a la API de Coingecko.
   
    https://www.coingecko.com/en/api/documentation

In [1]:
# pip install -U pycoingecko

2. Importamos las librerías a utilizar

In [2]:
from pycoingecko import CoinGeckoAPI # Servirá para extraer la información de la API de Coingecko.
import pandas as pd # Servirá para convertir en formato dataframe la información extraida.
from datetime import datetime # Servirá para convertir los datos en formato datetime con fecha y tiempo.

3. Llamamos a la API de Coingecko con el comando CoinGeckoAPI, anteriormente importado

In [3]:
cg=CoinGeckoAPI() # Nombramos el comando de la API de Coingecko con "cg" para poder usar sus funciones.

4. Extraemos de la función "get_coins_markets" con las criptomonedas con valores en dólares. 

   Optamos dólares por ser una moneda estable y transable internacionalmente.

In [4]:
all_coins_market = cg.get_coins_markets(vs_currency ='usd')
all_coins_market_df = pd.DataFrame(all_coins_market)
all_coins_market_df.head(15)

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,26100.000000,507822158393,1,5.478858e+11,7.738907e+09,26206.000000,...,2.100000e+07,2.100000e+07,69045.000000,-62.19548,2021-11-10T14:24:11.849Z,6.781000e+01,3.839348e+04,2013-07-06T00:00:00.000Z,None,2023-08-22T01:13:23.367Z
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,1667.120000,200377175767,2,2.003772e+11,6.998750e+09,1684.790000,...,1.202152e+08,NaN,4878.260000,-65.82176,2021-11-10T14:24:19.604Z,4.329790e-01,3.849774e+05,2015-10-20T00:00:00.000Z,"{'times': 84.40287511547022, 'currency': 'btc'...",2023-08-22T01:13:22.990Z
2,tether,usdt,Tether,https://assets.coingecko.com/coins/images/325/...,1.000000,82874101379,3,8.287410e+10,1.673510e+10,1.003000,...,8.284648e+10,NaN,1.320000,-24.42259,2018-07-24T00:00:00.000Z,5.725210e-01,7.465930e+01,2015-03-02T00:00:00.000Z,None,2023-08-22T01:10:00.458Z
3,binancecoin,bnb,BNB,https://assets.coingecko.com/coins/images/825/...,210.390000,32370809902,4,4.207932e+10,6.545186e+08,216.790000,...,1.538562e+08,2.000000e+08,686.310000,-69.34152,2021-05-10T07:24:17.097Z,3.981770e-02,5.283364e+05,2017-10-19T00:00:00.000Z,None,2023-08-22T01:13:25.481Z
4,ripple,xrp,XRP,https://assets.coingecko.com/coins/images/44/l...,0.520582,27519317537,5,5.207862e+10,1.343759e+09,0.537880,...,9.998850e+10,1.000000e+11,3.400000,-84.67845,2018-01-07T00:00:00.000Z,2.686210e-03,1.928403e+04,2014-05-22T00:00:00.000Z,None,2023-08-22T01:13:25.234Z
5,usd-coin,usdc,USD Coin,https://assets.coingecko.com/coins/images/6319...,0.999990,25985073163,6,2.598807e+10,4.530639e+09,1.004000,...,2.598912e+10,NaN,1.170000,-14.73826,2019-05-08T00:40:28.300Z,8.776470e-01,1.392622e+01,2023-03-11T08:02:13.981Z,None,2023-08-22T01:13:24.616Z
6,staked-ether,steth,Lido Staked Ether,https://assets.coingecko.com/coins/images/1344...,1668.350000,13778905006,7,1.377891e+10,9.189830e+06,1685.070000,...,8.261388e+06,8.261388e+06,4829.570000,-65.46661,2021-11-10T14:40:47.256Z,4.829000e+02,2.453775e+02,2020-12-22T04:08:21.854Z,None,2023-08-22T01:13:21.951Z
7,cardano,ada,Cardano,https://assets.coingecko.com/coins/images/975/...,0.262707,9209986014,8,1.182620e+10,1.731562e+08,0.272207,...,4.500000e+10,4.500000e+10,3.090000,-91.48138,2021-09-02T06:00:10.474Z,1.925275e-02,1.265842e+03,2020-03-13T02:22:55.044Z,None,2023-08-22T01:13:25.068Z
8,dogecoin,doge,Dogecoin,https://assets.coingecko.com/coins/images/5/la...,0.062795,8835831684,9,8.835819e+09,3.263645e+08,0.063982,...,1.406873e+11,NaN,0.731578,-91.42426,2021-05-08T05:08:23.458Z,8.690000e-05,7.209275e+04,2015-05-06T00:00:00.000Z,None,2023-08-22T01:13:21.104Z
9,solana,sol,Solana,https://assets.coingecko.com/coins/images/4128...,21.190000,8637443373,10,1.176958e+10,3.431405e+08,21.600000,...,5.554643e+08,NaN,259.960000,-91.84731,2021-11-06T21:54:35.825Z,5.008010e-01,4.131954e+03,2020-05-11T19:35:23.449Z,None,2023-08-22T01:13:21.095Z
10,tron,trx,TRON,https://assets.coingecko.com/coins/images/1094...,0.075076,6710969065,11,6.710970e+09,2.083464e+08,0.076211,...,8.941052e+10,NaN,0.231673,-67.61892,2018-01-05T00:00:00.000Z,1.804340e-03,4.057646e+03,2017-11-12T00:00:00.000Z,"{'times': 38.51389430355043, 'currency': 'usd'...",2023-08-22T01:13:24.484Z
11,polkadot,dot,Polkadot,https://assets.coingecko.com/coins/images/1217...,4.440000,5626684433,12,5.986182e+09,1.048829e+08,4.530000,...,1.347432e+09,NaN,54.980000,-91.91509,2021-11-04T14:10:09.301Z,2.700000e+00,6.479082e+01,2020-08-20T05:48:11.359Z,None,2023-08-22T01:13:24.005Z
12,matic-network,matic,Polygon,https://assets.coingecko.com/coins/images/4713...,0.555860,5180558051,13,5.558855e+09,2.463015e+08,0.578171,...,1.000000e+10,1.000000e+10,2.920000,-80.91651,2021-12-27T02:08:34.307Z,3.143760e-03,1.760252e+04,2019-05-10T00:00:00.000Z,"{'times': 210.35362069006374, 'currency': 'usd...",2023-08-22T01:13:27.071Z
13,litecoin,ltc,Litecoin,https://assets.coingecko.com/coins/images/2/la...,66.800000,4912175675,14,5.608794e+09,6.599145e+08,67.130000,...,8.400000e+07,8.400000e+07,410.260000,-83.73360,2021-05-10T03:13:07.904Z,1.150000e+00,5.708848e+03,2015-01-14T00:00:00.000Z,None,2023-08-22T01:13:24.831Z
14,shiba-inu,shib,Shiba Inu,https://assets.coingecko.com/coins/images/1193...,0.000008,4674003415,15,7.930892e+09,1.877300e+08,0.000008,...,9.999852e+14,NaN,0.000086,-90.79191,2021-10-28T03:54:55.568Z,5.636600e-11,1.407492e+07,2020-11-28T11:26:25.838Z,None,2023-08-22T01:13:27.196Z

De la lista brindada, solo extraeremos 15 cirptomonedas mejor rankeadas por el mercado para el desarrollo del proyecto, estas serían las sigueintes:

In [5]:
coin_names=['bitcoin', 'ethereum', 'tether', 'binancecoin', 'ripple', 'usd-coin', 'staked-ether', 
            'cardano', 'dogecoin', 'solana', 'tron', 'polkadot', 'matic-network', 'shiba-inu', 'litecoin']

- El siguiente artículo muestra el Top 20 de criptomonedas proyectadas para el año 2023, incluyendo las 15 criptomonedas elegidas, brindando un expertise por cada moneda que servirá posteriormente.

    https://staxpayments.com/blog/most-popular-cryptocurrencies/

- La revisa Forbes advisor rankea en un Top 10 a las criptomonedas con un buen comprotamiento hasta el 16 de Agosto del 2023, de igual forma, incluye las criptomonedas elegidad.
  
    https://www.forbes.com/advisor/investing/cryptocurrency/top-10-cryptocurrencies/

5. La API de coingecko utiliza la fecha en formato Unix, por lo que convertiremos las fechas deseadas a este formato con un simple cálculo.

In [6]:
# Definimos la fecha y hora que deseamos inicie el dataset, en este caso será 1 de enero del 2010 a las 0:0 hrs.
fecha_hora = datetime(2010, 1, 1, 23, 59)

# Calculamos el tiempo Unix
tiempo_unix = (fecha_hora - datetime(1970, 1, 1)).total_seconds()

print("Tiempo Unix:", int(tiempo_unix))

Tiempo Unix: 1262390340

In [7]:
# Definimos la fecha y hora que deseamos termine el dataset, en este caso será el 15 de agosto del 2023 a las 0:0 hrs.
fecha_hora2 = datetime(2023, 8, 15, 23, 59)

# Calcular el tiempo Unix
tiempo_unix2 = (fecha_hora2 - datetime(1970, 1, 1)).total_seconds()

print("Tiempo Unix:", int(tiempo_unix2))

Tiempo Unix: 1692143940

6. Con el endpoint "get_coin_market_chart_range_by_id" de la API de coingecko, extraemos los datos de cada moneda con la fecha definida anteriormente.

*Bitcoin*

In [8]:
h_bitcoin=cg.get_coin_market_chart_range_by_id(id='bitcoin', vs_currency='usd', from_timestamp =1262390340, to_timestamp=1692057600)
h_bitcoin_df = pd.DataFrame.from_dict(h_bitcoin, orient='index')
h_bitcoin_df = h_bitcoin_df.transpose()
h_bitcoin_df.head(2)

,prices,market_caps,total_volumes
0,"[1367107200000, 135.3]","[1367107200000, 1500517590]","[1367107200000, 0]"
1,"[1367193600000, 141.96]","[1367193600000, 1575032004.0]","[1367193600000, 0.0]"

*Ethereum*

In [9]:
h_ethereum=cg.get_coin_market_chart_range_by_id(id='ethereum', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_ethereum_df = pd.DataFrame.from_dict(h_ethereum, orient='index')
h_ethereum_df = h_ethereum_df.transpose()
h_ethereum_df.head(2)

,prices,market_caps,total_volumes
0,"[1483228800000, 8.064789989459687]","[1483228800000, 705615194.8270631]","[1483228800000, 7811699.12614274]"
1,"[1483315200000, 8.361286160728705]","[1483315200000, 731817457.4649888]","[1483315200000, 8192075.241699923]"

*Tether*

In [10]:
h_tether=cg.get_coin_market_chart_range_by_id(id='tether', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_tether_df = pd.DataFrame.from_dict(h_tether, orient='index')
h_tether_df = h_tether_df.transpose()
h_tether_df.head(2)

,prices,market_caps,total_volumes
0,"[1483228800000, 1.0]","[1483228800000, 9951590.0]","[1483228800000, 1914630.0]"
1,"[1483315200000, 1.0]","[1483315200000, 9951590.0]","[1483315200000, 3179490.0]"

*Binancecoin*

In [11]:
h_binancecoin=cg.get_coin_market_chart_range_by_id(id='binancecoin', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_binancecoin_df = pd.DataFrame.from_dict(h_binancecoin, orient='index')
h_binancecoin_df = h_binancecoin_df.transpose()
h_binancecoin_df.head(2)

,prices,market_caps,total_volumes
0,"[1505520000000, 0.10725062436515388]","[1505520000000, 10725062.436515387]","[1505520000000, 1.0512233074868058]"
1,"[1505606400000, 0.15404129090981247]","[1505606400000, 15404129.090981247]","[1505606400000, 14.678587222975718]"

*Ripple*

In [12]:
h_ripple=cg.get_coin_market_chart_range_by_id(id='ripple', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_ripple_df = pd.DataFrame.from_dict(h_ripple, orient='index')
h_ripple_df = h_ripple_df.transpose()
h_ripple_df.head(2)

,prices,market_caps,total_volumes
0,"[1483228800000, 0.006375999999999999]","[1483228800000, 231686616.18602395]","[1483228800000, 418493.0]"
1,"[1483315200000, 0.006309]","[1483315200000, 229252017.176541]","[1483315200000, 1047280.0]"

*Usd-coin*

In [13]:
h_usd_coin=cg.get_coin_market_chart_range_by_id(id='usd-coin', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_usd_coin_df = pd.DataFrame.from_dict(h_usd_coin, orient='index')
h_usd_coin_df = h_usd_coin_df.transpose()
h_usd_coin_df.head(2)

,prices,market_caps,total_volumes
0,"[1538697600000, 1.0062418761688314]","[1538697600000, 0.0]","[1538697600000, 31264.420429900205]"
1,"[1538784000000, 1.0015295223068545]","[1538784000000, 0.0]","[1538784000000, 20254.71225490974]"

*Staked-ether*

In [14]:
h_staked_ether=cg.get_coin_market_chart_range_by_id(id='staked-ether', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_staked_ether_df = pd.DataFrame.from_dict(h_staked_ether, orient='index')
h_staked_ether_df = h_staked_ether_df.transpose()
h_staked_ether_df.head(2)

,prices,market_caps,total_volumes
0,"[1608595200000, 617.1649966237076]","[1608595200000, 0.0]","[1608595200000, 137563.02655658743]"
1,"[1608681600000, 617.1649966237076]","[1608681600000, 0.0]","[1608681600000, 137563.02655658743]"

*Cardano*

In [15]:
h_cardano=cg.get_coin_market_chart_range_by_id(id='cardano', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_cardano_df = pd.DataFrame.from_dict(h_cardano, orient='index')
h_cardano_df = h_cardano_df.transpose()
h_cardano_df.head(2)

,prices,market_caps,total_volumes
0,"[1508284800000, 0.02684535467621909]","[1508284800000, 696021404.3079604]","[1508284800000, 2351678.122306208]"
1,"[1508371200000, 0.026829950465728686]","[1508371200000, 695622018.2559936]","[1508371200000, 2815155.9695999967]"

*Dogecoin*

In [16]:
h_dogecoin=cg.get_coin_market_chart_range_by_id(id='dogecoin', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_dogecoin_df = pd.DataFrame.from_dict(h_dogecoin, orient='index')
h_dogecoin_df = h_dogecoin_df.transpose()
h_dogecoin_df.head(2)

,prices,market_caps,total_volumes
0,"[1483228800000, 0.00022070085903662146]","[1483228800000, 23734953.118906334]","[1483228800000, 87182.38605575034]"
1,"[1483315200000, 0.0002214509581657715]","[1483315200000, 23818706.45912645]","[1483315200000, 122738.62523927088]"

*Solana*

In [17]:
h_solana=cg.get_coin_market_chart_range_by_id(id='solana', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_solana_df = pd.DataFrame.from_dict(h_solana, orient='index')
h_solana_df = h_solana_df.transpose()
h_solana_df.head(2)

,prices,market_caps,total_volumes
0,"[1586563200000, 0.9576058280146803]","[1586563200000, 7827651.892659198]","[1586563200000, 92672667.43447028]"
1,"[1586649600000, 0.7847113148208426]","[1586649600000, 6173607.678345317]","[1586649600000, 49458692.875223994]"

*Tron*

In [18]:
h_tron=cg.get_coin_market_chart_range_by_id(id='tron', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_tron_df = pd.DataFrame.from_dict(h_tron, orient='index')
h_tron_df = h_tron_df.transpose()
h_tron_df.head(2)

,prices,market_caps,total_volumes
0,"[1510185600000, 0.0023868224612059903]","[1510185600000, 156404161.61769113]","[1510185600000, 1224287.1701759468]"
1,"[1510272000000, 0.0020444407393174656]","[1510272000000, 133968506.2492818]","[1510272000000, 990422.8194999617]"

*Polkadot*

In [19]:
h_polkadot=cg.get_coin_market_chart_range_by_id(id='polkadot', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_polkadot_df = pd.DataFrame.from_dict(h_polkadot, orient='index')
h_polkadot_df = h_polkadot_df.transpose()
h_polkadot_df.head(2)

,prices,market_caps,total_volumes
0,"[1597795200000, 2.9366649977840584]","[1597795200000, 0.0]","[1597795200000, 82413981.29681122]"
1,"[1597881600000, 2.9366649977840584]","[1597881600000, 0.0]","[1597881600000, 82413981.29681122]"

*Matic-network*

In [20]:
h_matic_network=cg.get_coin_market_chart_range_by_id(id='matic-network', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_matic_network_df = pd.DataFrame.from_dict(h_matic_network, orient='index')
h_matic_network_df = h_matic_network_df.transpose()
h_matic_network_df.head(2)

,prices,market_caps,total_volumes
0,"[1556323200000, 0.005470458299220707]","[1556323200000, 11597995.598585173]","[1556323200000, 43158348.3665803]"
1,"[1556409600000, 0.005207030741745718]","[1556409600000, 11038517.246430347]","[1556409600000, 9750768.053556936]"

*Shiba-inu*

In [21]:
h_shiba_inu=cg.get_coin_market_chart_range_by_id(id='shiba-inu', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_shiba_inu_df = pd.DataFrame.from_dict(h_shiba_inu, orient='index')
h_shiba_inu_df = h_shiba_inu_df.transpose()
h_shiba_inu_df.head(2)

,prices,market_caps,total_volumes
0,"[1596240000000, 9.722410112328183e-10]","[1596240000000, 0.0]","[1596240000000, 1426169.4322662805]"
1,"[1596326400000, 9.722410112328183e-10]","[1596326400000, 0.0]","[1596326400000, 1426169.4322662805]"

*Litecoin*

In [22]:
h_litecoin=cg.get_coin_market_chart_range_by_id(id='litecoin', vs_currency='usd', from_timestamp =1483228800, to_timestamp=1692057600)
h_litecoin_df = pd.DataFrame.from_dict(h_litecoin, orient='index')
h_litecoin_df = h_litecoin_df.transpose()
h_litecoin_df.head(2)

,prices,market_caps,total_volumes
0,"[1483228800000, 4.503138670027047]","[1483228800000, 221302264.8123639]","[1483228800000, 427541120.7355117]"
1,"[1483315200000, 4.580076938641901]","[1483315200000, 225149387.00276527]","[1483315200000, 593716097.6614419]"

7. Optamos por convertir el valor None por [0,0] para que los datos tengan el mismo tamaño y poder realizar el siguiente paso.

In [23]:
h_bitcoin_df = h_bitcoin_df.applymap(lambda x: [0, 0] if x is None else x)
h_ethereum_df = h_ethereum_df.applymap(lambda x: [0, 0] if x is None else x)
h_tether_df = h_tether_df.applymap(lambda x: [0, 0] if x is None else x)
h_binancecoin_df = h_binancecoin_df.applymap(lambda x: [0, 0] if x is None else x)
h_ripple_df = h_ripple_df.applymap(lambda x: [0, 0] if x is None else x)
h_usd_coin_df = h_usd_coin_df.applymap(lambda x: [0, 0] if x is None else x)
h_staked_ether_df = h_staked_ether_df.applymap(lambda x: [0, 0] if x is None else x)
h_cardano_df = h_cardano_df.applymap(lambda x: [0, 0] if x is None else x)
h_dogecoin_df = h_dogecoin_df.applymap(lambda x: [0, 0] if x is None else x)
h_solana_df = h_solana_df.applymap(lambda x: [0, 0] if x is None else x)
h_tron_df = h_tron_df.applymap(lambda x: [0, 0] if x is None else x)
h_polkadot_df = h_polkadot_df.applymap(lambda x: [0, 0] if x is None else x)
h_matic_network_df = h_matic_network_df.applymap(lambda x: [0, 0] if x is None else x)
h_shiba_inu_df = h_shiba_inu_df.applymap(lambda x: [0, 0] if x is None else x)
h_litecoin_df = h_litecoin_df.applymap(lambda x: [0, 0] if x is None else x)

8. Separamos los datos de las columnas, teniendo las siguientes: "timestamp", "price_value", "market_cap_value" y "volume_value".

El dataframe nos da los valores en formato lista, en donde está la fecha como primer elemento y el dato en sí como segundo elemento.

Extraeremos la fecha del pimer valor ya que en las siguientes columnas, aparece el dato None, el cual reemplazamos como valor [0,0].

*Bitcoin*

In [24]:
h_bitcoin_df['timestamp'] = h_bitcoin_df['prices'].apply(lambda x: x[0])
h_bitcoin_df['price_value'] = h_bitcoin_df['prices'].apply(lambda x: x[1])
h_bitcoin_df['market_cap_value'] = h_bitcoin_df['market_caps'].apply(lambda x: x[1])
h_bitcoin_df['volume_value'] = h_bitcoin_df['total_volumes'].apply(lambda x: x[1])

*Ethereum*

In [25]:
h_ethereum_df['timestamp'] = h_ethereum_df['prices'].apply(lambda x: x[0])
h_ethereum_df['price_value'] = h_ethereum_df['prices'].apply(lambda x: x[1])
h_ethereum_df['market_cap_value'] = h_ethereum_df['market_caps'].apply(lambda x: x[1])
h_ethereum_df['volume_value'] = h_ethereum_df['total_volumes'].apply(lambda x: x[1])

*Tether*

In [26]:
h_tether_df['timestamp'] = h_tether_df['prices'].apply(lambda x: x[0])
h_tether_df['price_value'] = h_tether_df['prices'].apply(lambda x: x[1])
h_tether_df['market_cap_value'] = h_tether_df['market_caps'].apply(lambda x: x[1])
h_tether_df['volume_value'] = h_tether_df['total_volumes'].apply(lambda x: x[1])

*Binancecoin*

In [27]:
h_binancecoin_df['timestamp'] = h_binancecoin_df['prices'].apply(lambda x: x[0])
h_binancecoin_df['price_value'] = h_binancecoin_df['prices'].apply(lambda x: x[1])
h_binancecoin_df['market_cap_value'] = h_binancecoin_df['market_caps'].apply(lambda x: x[1])
h_binancecoin_df['volume_value'] = h_binancecoin_df['total_volumes'].apply(lambda x: x[1])

*Ripple*

In [28]:
h_ripple_df['timestamp'] = h_ripple_df['prices'].apply(lambda x: x[0])
h_ripple_df['price_value'] = h_ripple_df['prices'].apply(lambda x: x[1])
h_ripple_df['market_cap_value'] = h_ripple_df['market_caps'].apply(lambda x: x[1])
h_ripple_df['volume_value'] = h_ripple_df['total_volumes'].apply(lambda x: x[1])

*Usd-coin*

In [29]:
h_usd_coin_df['timestamp'] = h_usd_coin_df['prices'].apply(lambda x: x[0])
h_usd_coin_df['price_value'] = h_usd_coin_df['prices'].apply(lambda x: x[1])
h_usd_coin_df['market_cap_value'] = h_usd_coin_df['market_caps'].apply(lambda x: x[1])
h_usd_coin_df['volume_value'] = h_usd_coin_df['total_volumes'].apply(lambda x: x[1])

*Staked-ether*

In [30]:
h_staked_ether_df['timestamp'] = h_staked_ether_df['prices'].apply(lambda x: x[0])
h_staked_ether_df['price_value'] = h_staked_ether_df['prices'].apply(lambda x: x[1])
h_staked_ether_df['market_cap_value'] = h_staked_ether_df['market_caps'].apply(lambda x: x[1])
h_staked_ether_df['volume_value'] = h_staked_ether_df['total_volumes'].apply(lambda x: x[1])

*Cardano*

In [31]:
h_cardano_df['timestamp'] = h_cardano_df['prices'].apply(lambda x: x[0])
h_cardano_df['price_value'] = h_cardano_df['prices'].apply(lambda x: x[1])
h_cardano_df['market_cap_value'] = h_cardano_df['market_caps'].apply(lambda x: x[1])
h_cardano_df['volume_value'] = h_cardano_df['total_volumes'].apply(lambda x: x[1])

*Dogecoin*

In [32]:
h_dogecoin_df['timestamp'] = h_dogecoin_df['prices'].apply(lambda x: x[0])
h_dogecoin_df['price_value'] = h_dogecoin_df['prices'].apply(lambda x: x[1])
h_dogecoin_df['market_cap_value'] = h_dogecoin_df['market_caps'].apply(lambda x: x[1])
h_dogecoin_df['volume_value'] = h_dogecoin_df['total_volumes'].apply(lambda x: x[1])

*Solana*

In [33]:
h_solana_df['timestamp'] = h_solana_df['prices'].apply(lambda x: x[0])
h_solana_df['price_value'] = h_solana_df['prices'].apply(lambda x: x[1])
h_solana_df['market_cap_value'] = h_solana_df['market_caps'].apply(lambda x: x[1])
h_solana_df['volume_value'] = h_solana_df['total_volumes'].apply(lambda x: x[1])

*Tron*

In [34]:
h_tron_df['timestamp'] = h_tron_df['prices'].apply(lambda x: x[0])
h_tron_df['price_value'] = h_tron_df['prices'].apply(lambda x: x[1])
h_tron_df['market_cap_value'] = h_tron_df['market_caps'].apply(lambda x: x[1])
h_tron_df['volume_value'] = h_tron_df['total_volumes'].apply(lambda x: x[1])

*Polkadot*

In [35]:
h_polkadot_df['timestamp'] = h_polkadot_df['prices'].apply(lambda x: x[0])
h_polkadot_df['price_value'] = h_polkadot_df['prices'].apply(lambda x: x[1])
h_polkadot_df['market_cap_value'] = h_polkadot_df['market_caps'].apply(lambda x: x[1])
h_polkadot_df['volume_value'] = h_polkadot_df['total_volumes'].apply(lambda x: x[1])

*Matic-network*

In [36]:
h_matic_network_df['timestamp'] = h_matic_network_df['prices'].apply(lambda x: x[0])
h_matic_network_df['price_value'] = h_matic_network_df['prices'].apply(lambda x: x[1])
h_matic_network_df['market_cap_value'] = h_matic_network_df['market_caps'].apply(lambda x: x[1])
h_matic_network_df['volume_value'] = h_matic_network_df['total_volumes'].apply(lambda x: x[1])

*Shiba-inu*

In [37]:
h_shiba_inu_df['timestamp'] = h_shiba_inu_df['prices'].apply(lambda x: x[0])
h_shiba_inu_df['price_value'] = h_shiba_inu_df['prices'].apply(lambda x: x[1])
h_shiba_inu_df['market_cap_value'] = h_shiba_inu_df['market_caps'].apply(lambda x: x[1])
h_shiba_inu_df['volume_value'] = h_shiba_inu_df['total_volumes'].apply(lambda x: x[1])

*Litecoin*

In [38]:
h_litecoin_df['timestamp'] = h_litecoin_df['prices'].apply(lambda x: x[0])
h_litecoin_df['price_value'] = h_litecoin_df['prices'].apply(lambda x: x[1])
h_litecoin_df['market_cap_value'] = h_litecoin_df['market_caps'].apply(lambda x: x[1])
h_litecoin_df['volume_value'] = h_litecoin_df['total_volumes'].apply(lambda x: x[1])

9. Eliminamos las columnas originales del dataframe.

In [39]:
h_bitcoin_df = h_bitcoin_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_ethereum_df = h_ethereum_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_tether_df = h_tether_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_binancecoin_df = h_binancecoin_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_ripple_df = h_ripple_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_usd_coin_df = h_usd_coin_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_staked_ether_df = h_staked_ether_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_cardano_df = h_cardano_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_dogecoin_df = h_dogecoin_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_solana_df = h_solana_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_tron_df = h_tron_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_polkadot_df = h_polkadot_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_matic_network_df = h_matic_network_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_shiba_inu_df = h_shiba_inu_df.drop(columns=['prices', 'market_caps', 'total_volumes'])
h_litecoin_df = h_litecoin_df.drop(columns=['prices', 'market_caps', 'total_volumes'])

10. Realizamos una función para que convierta el formato UNIX de la fecha en un formato datetime.

In [40]:
def convert_unix_to_date(timestamp):
    try:
        timestamp = int(str(timestamp)[:-3])  # Eliminar los últimos 4 dígitos y convertir a entero
        return datetime.utcfromtimestamp(timestamp)
    except (OSError, ValueError):
        return 0

11. Aplicamos la función en el dataframe

In [41]:
h_bitcoin_df['date']=h_bitcoin_df['timestamp'].apply(convert_unix_to_date)
h_ethereum_df['date'] = h_ethereum_df['timestamp'].apply(convert_unix_to_date)
h_tether_df['date'] = h_tether_df['timestamp'].apply(convert_unix_to_date)
h_binancecoin_df['date'] = h_binancecoin_df['timestamp'].apply(convert_unix_to_date)
h_ripple_df['date'] = h_ripple_df['timestamp'].apply(convert_unix_to_date)
h_usd_coin_df['date'] = h_usd_coin_df['timestamp'].apply(convert_unix_to_date)
h_staked_ether_df['date'] = h_staked_ether_df['timestamp'].apply(convert_unix_to_date)
h_cardano_df['date'] = h_cardano_df['timestamp'].apply(convert_unix_to_date)
h_dogecoin_df['date'] = h_dogecoin_df['timestamp'].apply(convert_unix_to_date)
h_solana_df['date'] = h_solana_df['timestamp'].apply(convert_unix_to_date)
h_tron_df['date'] = h_tron_df['timestamp'].apply(convert_unix_to_date)
h_polkadot_df['date'] = h_polkadot_df['timestamp'].apply(convert_unix_to_date)
h_matic_network_df['date'] = h_matic_network_df['timestamp'].apply(convert_unix_to_date)
h_shiba_inu_df['date'] = h_shiba_inu_df['timestamp'].apply(convert_unix_to_date)
h_litecoin_df['date'] = h_litecoin_df['timestamp'].apply(convert_unix_to_date)

12. Eliminamos la columna timestamp de los dataframes

In [42]:
h_bitcoin_df=h_bitcoin_df.drop(columns=['timestamp'])
h_ethereum_df=h_ethereum_df.drop(columns=['timestamp'])
h_tether_df = h_tether_df.drop(columns=['timestamp'])
h_binancecoin_df = h_binancecoin_df.drop(columns=['timestamp'])
h_ripple_df = h_ripple_df.drop(columns=['timestamp'])
h_usd_coin_df = h_usd_coin_df.drop(columns=['timestamp'])
h_staked_ether_df = h_staked_ether_df.drop(columns=['timestamp'])
h_cardano_df = h_cardano_df.drop(columns=['timestamp'])
h_dogecoin_df = h_dogecoin_df.drop(columns=['timestamp'])
h_solana_df = h_solana_df.drop(columns=['timestamp'])
h_tron_df = h_tron_df.drop(columns=['timestamp'])
h_polkadot_df = h_polkadot_df.drop(columns=['timestamp'])
h_matic_network_df = h_matic_network_df.drop(columns=['timestamp'])
h_shiba_inu_df = h_shiba_inu_df.drop(columns=['timestamp'])
h_litecoin_df = h_litecoin_df.drop(columns=['timestamp'])

13. Agregamos una columna con los id's de cada moneda para próximamente realizar relaciones en SQL

In [43]:
h_bitcoin_df['id']='bitcoin'
h_ethereum_df['id']='ethereum'
h_tether_df['id']='tether'
h_binancecoin_df['id']='binancecoin'
h_ripple_df['id']='ripple'
h_usd_coin_df['id']='usd-coin'
h_staked_ether_df['id']='staked-ether'
h_cardano_df['id']='cardano'
h_dogecoin_df['id']='dogecoin'
h_solana_df['id']='solana'
h_tron_df['id']='tron'
h_polkadot_df['id']='polkadot'
h_matic_network_df['id']='matic-network'
h_shiba_inu_df['id']='shiba-inu'
h_litecoin_df['id']='litecoin'

14. Observamos si nuestros dataframes están completos

In [44]:
h_bitcoin_df.head(2)

   price_value  market_cap_value  volume_value       date       id
0       135.30      1.500518e+09           0.0 2013-04-28  bitcoin
1       141.96      1.575032e+09           0.0 2013-04-29  bitcoin

In [45]:
h_ethereum_df.head(2)

   price_value  market_cap_value  volume_value       date        id
0     8.064790      7.056152e+08  7.811699e+06 2017-01-01  ethereum
1     8.361286      7.318175e+08  8.192075e+06 2017-01-02  ethereum

In [46]:
h_tether_df.head(2)

   price_value  market_cap_value  volume_value       date      id
0          1.0         9951590.0     1914630.0 2017-01-01  tether
1          1.0         9951590.0     3179490.0 2017-01-02  tether

In [47]:
h_binancecoin_df.head(2)

   price_value  market_cap_value  volume_value       date           id
0     0.107251      1.072506e+07      1.051223 2017-09-16  binancecoin
1     0.154041      1.540413e+07     14.678587 2017-09-17  binancecoin

In [48]:
h_ripple_df.head(2)

   price_value  market_cap_value  volume_value       date      id
0     0.006376      2.316866e+08      418493.0 2017-01-01  ripple
1     0.006309      2.292520e+08     1047280.0 2017-01-02  ripple

In [49]:
h_usd_coin_df.head(2)

   price_value  market_cap_value  volume_value       date        id
0     1.006242               0.0  31264.420430 2018-10-05  usd-coin
1     1.001530               0.0  20254.712255 2018-10-06  usd-coin

In [50]:
h_staked_ether_df.head(2)

   price_value  market_cap_value   volume_value       date            id
0   617.164997               0.0  137563.026557 2020-12-22  staked-ether
1   617.164997               0.0  137563.026557 2020-12-23  staked-ether

In [51]:
h_cardano_df.head(2)

   price_value  market_cap_value  volume_value       date       id
0     0.026845      6.960214e+08  2.351678e+06 2017-10-18  cardano
1     0.026830      6.956220e+08  2.815156e+06 2017-10-19  cardano

In [52]:
h_dogecoin_df.head(2)

   price_value  market_cap_value   volume_value       date        id
0     0.000221      2.373495e+07   87182.386056 2017-01-01  dogecoin
1     0.000221      2.381871e+07  122738.625239 2017-01-02  dogecoin

In [53]:
h_solana_df.head(2)

   price_value  market_cap_value  volume_value       date      id
0     0.957606      7.827652e+06  9.267267e+07 2020-04-11  solana
1     0.784711      6.173608e+06  4.945869e+07 2020-04-12  solana

In [54]:
h_tron_df.head(2)

   price_value  market_cap_value  volume_value       date    id
0     0.002387      1.564042e+08  1.224287e+06 2017-11-09  tron
1     0.002044      1.339685e+08  9.904228e+05 2017-11-10  tron

In [55]:
h_polkadot_df.head(2)

   price_value  market_cap_value  volume_value       date        id
0     2.936665               0.0  8.241398e+07 2020-08-19  polkadot
1     2.936665               0.0  8.241398e+07 2020-08-20  polkadot

In [56]:
h_matic_network_df.head(2)

   price_value  market_cap_value  volume_value       date             id
0     0.005470      1.159800e+07  4.315835e+07 2019-04-27  matic-network
1     0.005207      1.103852e+07  9.750768e+06 2019-04-28  matic-network

In [57]:
h_shiba_inu_df.head(2)

    price_value  market_cap_value  volume_value       date         id
0  9.722410e-10               0.0  1.426169e+06 2020-08-01  shiba-inu
1  9.722410e-10               0.0  1.426169e+06 2020-08-02  shiba-inu

In [58]:
h_litecoin_df.head(2)

   price_value  market_cap_value  volume_value       date        id
0     4.503139      2.213023e+08  4.275411e+08 2017-01-01  litecoin
1     4.580077      2.251494e+08  5.937161e+08 2017-01-02  litecoin

15. Convertimos los dataframes en formato csv.

In [59]:
h_bitcoin_df.to_csv('bitcoin.csv')
h_ethereum_df.to_csv('ethereum.csv')
h_tether_df.to_csv('thether.csv')
h_binancecoin_df.to_csv('binancecoin.csv')
h_ripple_df.to_csv('ripple.csv')
h_usd_coin_df.to_csv('usd_coin.csv')
h_staked_ether_df.to_csv('staked_ether.csv')
h_cardano_df.to_csv('cardano.csv')
h_dogecoin_df.to_csv('dogecoin.csv')
h_solana_df.to_csv('solana.csv')
h_tron_df.to_csv('tron.csv')
h_polkadot_df.to_csv('polkadot.csv')
h_matic_network_df.to_csv('matic_network.csv')
h_shiba_inu_df.to_csv('shiba_inu.csv')
h_litecoin_df.to_csv('litecoin.csv')
all_coins_market_df.to_csv('monedas_todas.csv')

16.Creamos una lista con todos los dataframes

In [60]:
list_df=[h_bitcoin_df,h_ethereum_df,h_tether_df, h_binancecoin_df,h_ripple_df,h_usd_coin_df, h_staked_ether_df, h_cardano_df, h_dogecoin_df, h_solana_df,
         h_tron_df, h_polkadot_df, h_matic_network_df, h_shiba_inu_df, h_litecoin_df ]

17. Concatenamos los dataframes para obtener solo un dataframe con las 5 columnas que necesitamos

In [61]:
combinaded_df=pd.concat(list_df)
combinaded_df.reset_index(drop=True, inplace=True)

18. Revisamos el dataframe creado

In [62]:
combinaded_df.sample(5)

        price_value  market_cap_value  volume_value       date        id
2729   11495.899976      2.173911e+11  1.556979e+10 2020-10-19   bitcoin
6127    1899.147312      2.230613e+11  7.363880e+09 2023-06-26  ethereum
1730   11277.115970      1.888805e+11  3.582338e+09 2018-01-24   bitcoin
28693     70.810687      4.466674e+09  4.593116e+09 2020-02-20  litecoin
5254    1514.225196      1.890238e+11  4.295241e+10 2021-02-03  ethereum

19. Convertimos el dataframe en formato csv

In [63]:
combinaded_df.to_csv('coins_combined.csv')